
.form {
  width: 600px;
  background: rgba(46, 46, 46, 0);
  margin: 0;
  padding: 0;
  border: none;

}

.note{
  color: rgb(218, 218, 218);
  margin-bottom: 20px;
}

p{
  color: rgb(148, 247, 118);
  margin-bottom: 20px;
}

.input{
  border: none;
  outline: none;
  padding-left: 24px !important;
  width: 65%;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
  background: rgba(255, 255, 255, 0.911);

}
.button{
  border: none;
  outline: none;
  background: rgba(26, 107, 145, 0.808);
  cursor: pointer;
  width: 40%;
  padding: 10px;
  color: white;
  border-radius: 0px 20px 20px 0px;
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  
}
.button:after {
  content: "";
  background: rgba(16, 126, 177, 0.808);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  outline: none;
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
